body {
    background-color: black;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    width: 98%;
    height: 200px;


}

.logo-header {
    width: 3%;

    align-self: center;

}

.search-icon {
    width: 35%;
    margin-right: 65px;




}

.bag-icon {
    width: 30%;

}

.icons-top {

    display: flex;
    flex-direction: row;
    width: 5%;
    height: auto;
    margin-right: 120px;
    justify-content: space-between;
    ;


}

nav {
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 50px;



}

.menu-inicial>a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;


}

.menu-inicial>a:hover {
    text-decoration: underline;
}

.menu-inicial {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    margin-left: 20px;
    margin-right: 20px;
  }

  .card>img{
    width: 50px;
    height: 40px;
  }
.card-body{
    background-color: #fff;
    height: 100px;
  }
.product-list {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
  }
  
  .product {
    width: calc(33.33% - 20px);
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
  }
  

  button{
    background-color: #328EFD;
    font-size: 13px;
    font-weight: 20px;
    border-radius: 6px; 
    border:none;
    box-shadow: none;
    margin-left: 5px;
    margin-top: 10px;
    
  }

  button:hover{
    background-color: #7f91a8;
    font-size: 15px;
    font-weight: 20px;
    border-radius: 6px; 
    border:none;
    box-shadow: none;
    margin-left: 5px;
    margin-top: 10px;
    
  }


  #buttons-filter{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 5px;
  }

 